
@{
    ViewData["Title"] = "Index";
}


<h1>Les Villes</h1>

<div class="col-6 text-end">
    <a asp-controller="Client" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> &nbsp; Ajoutez un fichier
    </a>
</div>

