
@{
    ViewData["Title"] = "FailedE";
}


<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        Vous n'êtes pas un admin
    </div>
    <a class="nav-link active" asp-controller="Home" asp-action="Index">Retour à la page d'acceuil</a>

</div>

