@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-5 bg-info text-white">
    <h1 class="display-4">Welcome to Vinci Energies Data Source</h1>
    <p class="lead">Your one-stop solution for data management and analysis.</p>
</div>
