@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Vous n'êtes pas un administrateur</strong>
</div>

<br />
<div class="text-center py-5 bg-info text-white">
    <h1 class="display-4">Welcome to Vinci Energies Data Source</h1>
    <p class="lead">Your one-stop solution for data management and analysis.</p>

</div>