
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<div class="container">
    @using (Html.BeginForm("Index", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="form-group col-md-6">
                <input type="file" class="form-control" name="myFile" />
            </div>
            <div class="form-group col-md-6">
                <input type="submit" class="filesubmit" name="Upload" />
            </div>
        </div>
    }
</div>