
@{
    ViewData["Title"] = "Index";
}
@model List<string>
<a href="c:\users\dell\desktop\vincienergiesdata\vincienergiesdataweb\vincienergiesdata\views\bo_b2b\index.cshtml">c:\users\dell\desktop\vincienergiesdata\vincienergiesdataweb\vincienergiesdata\views\bo_b2b\index.cshtml</a>
<h1>Les villes</h1>

<div class="col-6 text-end">
    <a asp-controller="Client" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> &nbsp; Ajoutez un dossier
    </a>
</div>








