
@{
    ViewData["Title"] = "Index";
}



<h1 class="display-4 text-success">Situation Cable</h1>

<div class="container p-3">
    <br />
    <br />
    <div class="row pt-4">

        <div class="col-6 ">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("IndexFTTH", "SituationCable")'">
                    FTTH
                </button>
            </div>

        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="col-6">
        </div>
        <div class="col-6 ">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("IndexFTTS", "SituationCable")'">
                    FTTS
                </button>
            </div>
            
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="col-6">
            <h2 class="text primary"></h2>
        </div>

    </div>

</div>





