
@{
    ViewData["Title"] = "ShowVilles";
}
@model ShowVillesViewModel

<h1>Villes for @Model.Year</h1>

<div class="col-6 text-end">
    <a asp-controller="Facturation_B2B_PVR_BC" asp-action="CreateFile" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> &nbsp; Ajoutez un fichier
    </a>
</div>
<br />
<br />

<div class="container">
    <div class="row">
        @foreach (var ville in Model.Villes)
        {
            <div class="col-6 ">
                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("CreateFile", "Facturation_B2B_PVR_BC", new { city = ville, year = Model.Year})'">
                        @ville
                    </button>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />

        }
    </div>

</div>