
@{
    ViewData["Title"] = "ShowFiles";
}

@model List<string>

<h1>ShowFiles</h1>

<div class="col-6 text-end">
    <a asp-controller="Home" asp-action="CreateFolder" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> &nbsp; Ajoutez un dossier
    </a>
</div>

<div class="container">
    <div class="row">
        @foreach (var name in Model)
        {
            <div class="col-6 ">
                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("downloadFile", "RecoulementB2B", new { nom = name})'">
                        @name
                    </button>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />

        }
    </div>

</div>

